    <section class="main-container container-fluid">
    <nav>
        <span class="titulo_nav">Detalle de pedido
            <span *ngIf="pedido_cargado.id > 0">No. {{pedido_cargado.id}}</span>
            <span *ngIf="pedido_cargado.mesa == 0 && pedido_cargado.id > 0"> - Llevar</span>
        </span>
        <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="material-icons">add</i>Agregar Producto
        </button>
    </nav>
    <div class="pedido_container">
        <div class="mesa_numbers_detail">
            <h6>Asignar mesa</h6>
            <i  (click)="restarMesa(pedido_cargado)" class="material-icons icons-numbers menos">remove_circle</i>
            <h6>{{pedido_cargado.mesa}}</h6>
            <i (click)="sumarMesa(pedido_cargado)" class="material-icons icons-numbers mas">add_circle</i>

        </div>
        <table class="table table-condensed">
            <thead class="thead-light">
                <tr>
                    <th>Cant.</th>
                    <th>Producto</th>
                    <th>Valor Unit.</th>
                    <th>Total</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productos_agregados">
                    <!-- <td width="10px">{{product.cantidad}}</td> -->
                    
                    <td class="cant_td">
                        <i  (click)="restarProductos(product)" class="material-icons icons-numbers menos">remove_circle</i>
                        <h6>{{product.cantidad}}</h6>
                        <i (click)="sumarProductos(product)" class="material-icons icons-numbers mas">add_circle</i>
                    </td>
                    <td>{{product.nombre}}</td>
                    <td>${{product.v_unidad | number}}</td>
                    <td>${{product.v_total | number}}</td>
                    <td>
                        <button (click)="borrarProducto(product)" class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center" *ngIf="(productos_agregados).length == 0">Aún no hay productos en el pedido</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <!-- <textarea [(ngModel)]="pedido_cargado.comentario" class="form-control" cols="30" rows="1" placeholder="Ingresar comentario"></textarea> -->
                <input [(ngModel)]="pedido_cargado.comentario" class="form-control" type="text"  placeholder="Ingresar comentario">
                <div class="notas_rapidas">
                     <button class="btn btn-danger notas_btns" *ngFor="let nota of notas" (click)="comentar(nota)">{{nota}}</button>
                </div>
            </div>
        </div>

    </div>
    <!-- Fin de pedido -->
    <div class="facturacion_container">
            <h6>Datos de Facturación</h6>
        <div class="row">
            <div class="col-md-7">
                <input [(ngModel)]="pedido_cargado.cliente" class="form-control" placeholder="Ingrese el cliente" type="text">
                <input [(ngModel)]="pedido_cargado.documento" class="form-control" placeholder="Ingrese el documento" type="text">
                <select  [(ngModel)]="pedido_cargado.mesero"  class="form-control">
                    <option *ngFor="let mesero of meseros" value="{{mesero}}">{{mesero}}</option>
                </select>
                <select [(ngModel)]="pedido_cargado.metodo" class="form-control">
                        <option *ngFor="let metodo of metodos_de_pago" value="{{metodo}}">{{metodo}}</option>
                </select>
                <input  type="hidden" [(ngModel)]="pedido_cargado.id">
                
            </div>
            <div class="col-md-5 ">
                <div class="calculador_container"> 
                <ul>
                    <li>Subtotal</li>
                    <li  data-toggle="modal" data-target="#ModalDescuentos" style="cursor: pointer;">Descuento</li>
                    <li class="total">Total</li>
                </ul>
                <ul>
                    <li>${{pedido_cargado.subtotal_p | number}}</li>
                    <li>${{pedido_cargado.descuento | number}}</li>
                    <li class="total f-verde">${{ pedido_cargado.total_p | number}}</li>
                </ul>
                </div>
            </div>
            <div class="col-md-6 btns-container btns-1">
                
                <button (click)="limpiarPedido()" class="btn-pedir btn btn-small btn-limpiar">
                    <i class="material-icons"  style="margin-right: 5px;">clear_all</i>
                    Nuevo
                </button>
                <button *ngIf="pedidovacio" (click)="enviarPedido(pedido_cargado,'put')" class="btn-pedir btn btn-small btn-limpiar">
                        <i class="material-icons"  style="margin-right: 5px;">save</i>
                        Guardar
                </button>
            </div>    
            <div *ngIf="pedidovacio" class="col-md-6 btns-container ">
                <div>
                    <button *ngIf="pedido_cargado.estado === ''" id="btn_pedir" (click)="enviarPedido(pedido_cargado,'post')" class="btn-pedir btn btn-small btn-warning">
                        <i class="material-icons" style="margin-right: 5px;">add_circle</i>
                        Pedir
                    </button>
                    <button *ngIf="pedido_cargado.estado === 'Sin Facturar' || pedido_cargado.estado === 'facturado' " id="btn_pedir"(click)="imprimirPedido('btn')" class="btn-pedir btn btn-small btn-warning">
                            <i class="material-icons" style="margin-right: 5px;">print</i>
                            Pedido
                    </button>
                </div>
                <button *ngIf="pedido_cargado.estado ==='Sin Facturar' || pedido_cargado.estado === 'facturado'" (click)="pedido_cargado.pagadocon = 0;pedido_cargado.devuelve = 0"  data-toggle="modal" data-target="#exampleModalFacturar"  class="btn-pedir btn btn-small btn-primary d-flex">
                    <i class="material-icons"  style="margin-right: 5px;">print</i>
                    Facturar
                </button>
                <!-- <button  data-toggle="modal" data-target="#exampleModal" class="btn-pedir btn btn-small btn-danger  d-flex">
                        <i class="material-icons"  style="padding:0 0.2rem;">delete_forever</i>
                </button> -->
            </div>
            <div class="col-md-12 d-flex justify-content-end">
                <span style="font-size: 12px;" *ngIf="pedido_cargado.estado"> Este pedido está <b>{{pedido_cargado.estado}}.</b></span>
            </div>
        </div>
    </div>
</section>

<!-- Modal de descuento OPEN -->
<div class="modal fade" data-easein="bounceLeftIn" id="ModalDescuentos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog small-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Aplicar Descuento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
            <h6>Descuento asignado a ${{pedido_cargado.subtotal_p | number}}.</h6>
            <input class="form-control" (ngModelChange)="calcularTotal()" [(ngModel)]="pedido_cargado.descuento" type="number">
            <div class="col-md-12 row mt-2 mb-2" >
                <button (click)="decuentode(1000)" class="btn btn-warning">$1.000</button>
                <button (click)="decuentode(2000)" class="btn btn-warning">$2.000</button>
                <button (click)="decuentode(5000)" class="btn btn-warning">$5.000</button>
                <button (click)="decuentode(10000)" class="btn btn-warning">$10.000</button>
                <hr>
                <div class="row" style="width: 100%; margin:1em 0">
                    <div class="col-5" style="display: flex;align-items: center;justify-content: flex-start;">Por porcentaje %</div>
                    <div class="col-7">
                        <input min="0" max="100" class="form-control"(ngModelChange)="porcentar()" [(ngModel)]="percentDescuento" type="number" >
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer d-flex align-items-center">
            
            <p style="margin-bottom:0px">El descuento que aplicarás es de ${{pedido_cargado.descuento | number}}</p>
            <button class="btn btn-success" data-dismiss="modal">Listo</button>
        </div>
      </div>
    </div>
</div>
<!-- Modal de descuento CLOSE -->

<!-- Modal para eliminar -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog small-modal" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Estás seguro que deseas eliminar el pedido?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
              <button (click)="eliminarPedido(pedido_cargado)"  data-dismiss="modal" type="button" class="btn btn-primary">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

<!-- Modal para eliminar CLOSE-->


<!-- Modal para facturar -->
<!-- Modal -->
<div class="modal fade" id="exampleModalFacturar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog small-modal" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Facturar Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <h6 style="text-align:center">Total de cuenta ${{pedido_cargado.total_p | number}}</h6>
                <label for="pagadocon">Paga con...
                    <input step="any" type="number" class="form-control" (change)="calcularTotal()"  [(ngModel)]="pedido_cargado.pagadocon">
                </label>
                <span style="margin-left:1em;font-weight: bold;color:white;background-color: rgb(11, 187, 11);padding:0.5em 1em;">Devuelve: ${{pedido_cargado.devuelve | number}}</span>
                </div>
                <div class="col-md-12">
                    <button (click)="pedido_cargado.pagadocon = pedido_cargado.total_p;pedido_cargado.devuelve = 0" class="btn btn-limpiar">Valor Exacto ${{pedido_cargado.total_p | number}}</button>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
              <button (click)="enviarPedido(pedido_cargado,'imprimir factura')"  data-dismiss="modal" type="button" class="btn btn-warning">Solo Imprimir</button>
              <button (click)="enviarPedido(pedido_cargado,'facturar')"  data-dismiss="modal" type="button" class="btn btn-primary">Facturar</button>
            </div>
          </div>
        </div>
      </div>

<!-- Modal para facturar CLOSE-->