<section class="main-container container-fluid">
    <nav>
        <span class="titulo_nav">Detalle de pedido <span *ngIf="!pedido_cargado.mesa == 0">de la mesa {{pedido_cargado.mesa}}</span></span>
        <button class="btn btn-small btn-primary"  data-toggle="modal" data-target="#exampleModalCenter"> <i class="material-icons">add</i>Agregar Producto</button>
    </nav>
    <div class="pedido_container">
        <div class="mesa_numbers_detail">
            <h6>Asignar mesa</h6>
            <i  (click)="restarMesa(pedido_cargado)" class="material-icons icons-numbers menos">remove_circle</i>
            <h6>{{pedido_cargado.mesa}}</h6>
            <i (click)="sumarMesa(pedido_cargado)" class="material-icons icons-numbers mas">add_circle</i>

        </div>
        <table class="table table-condensed">
            <thead class="thead-light">
                <tr>
                    <th>Cant.</th>
                    <th>Producto</th>
                    <th>Valor Unit.</th>
                    <th>Total</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productos_agregados">
                    <!-- <td width="10px">{{product.cantidad}}</td> -->
                    
                    <td class="cant_td">
                        <i  (click)="restarProductos(product)" class="material-icons icons-numbers menos">remove_circle</i>
                        <h6>{{product.cantidad}}</h6>
                        <i (click)="sumarProductos(product)" class="material-icons icons-numbers mas">add_circle</i>
                    </td>
                    <td>{{product.nombre}}</td>
                    <td>${{product.v_unidad | number}}</td>
                    <td>${{product.v_total | number}}</td>
                    <td>
                        <button (click)="borrarProducto(product)" class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: center" *ngIf="(productos_agregados).length == 0">Aún no hay productos en el pedido</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <input [(ngModel)]="pedido_cargado.comentario" class="form-control" type="text" placeholder="Ingresar comentario">
            </div>
        </div>

    </div>
    <!-- Fin de pedido -->
    <div class="facturacion_container">
            <h6>Datos de Facturación</h6>
        <div class="row">
            <div class="col-md-7">
                <input [(ngModel)]="pedido_cargado.cliente" class="form-control" placeholder="Ingrese el cliente" type="text">
                <input [(ngModel)]="pedido_cargado.documento" class="form-control" placeholder="Ingrese el documento" type="text">
                <select  [(ngModel)]="pedido_cargado.mesero"  class="form-control">
                    <option *ngFor="let mesero of meseros" value="{{mesero}}">{{mesero}}</option>
                </select>
                <select [(ngModel)]="pedido_cargado.metodo" class="form-control">
                        <option *ngFor="let metodo of metodos_de_pago" value="{{metodo}}">{{metodo}}</option>
                </select>
                <input  type="hidden" [(ngModel)]="pedido_cargado.id">
                
            </div>
            <div class="col-md-5 ">
                <div class="calculador_container"> 
                <ul>
                    <li>Subtotal</li>
                    <li  data-toggle="modal" data-target="#ModalDescuentos" style="cursor: pointer;">Descuento</li>
                    <li class="total">Total</li>
                </ul>
                <ul>
                    <li>${{pedido_cargado.subtotal_p | number}}</li>
                    <li>${{pedido_cargado.descuento | number}}</li>
                    <li class="total f-verde">${{ pedido_cargado.total_p | number}}</li>
                </ul>
                </div>
            </div>
            <div class="col-md-6 btns-container btns-1">
                
                <button (click)="limpiarPedido()" class="btn-pedir btn btn-small btn-limpiar">
                    <i class="material-icons"  style="margin-right: 5px;">clear_all</i>
                    Limpiar
                </button>
                <button (click)="enviarPedido(pedido_cargado,'put')" class="btn-pedir btn btn-small btn-limpiar">
                        <i class="material-icons"  style="margin-right: 5px;">update</i>
                        Actualizar
                </button>
            </div>    
            <div class="col-md-6 btns-container">
                <button (click)="enviarPedido(pedido_cargado,'post')" class="btn-pedir btn btn-small btn-warning">
                    <i class="material-icons" style="margin-right: 5px;">add_circle</i>
                    Pedir
                </button>
                <button (click)="enviarPedido(pedido_cargado,'put')" class="btn-pedir btn btn-small btn-primary d-flex">
                    <i class="material-icons"  style="margin-right: 5px;">print</i>
                    Facturar
                </button>
            </div>
            <div class="col-md-12 btns-container">
                    <button data-toggle="modal" data-target="#exampleModal" class="btn-pedir btn btn-small btn-danger  d-flex">
                            <i class="material-icons"  style="padding:0 0.2rem;">delete_forever</i>
                    </button>
            </div>
        </div>
    </div>
</section>

<!-- Modal de descuento OPEN -->
<div class="modal fade" data-easein="bounceLeftIn" id="ModalDescuentos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog small-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Aplicar Descuento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
            Descuento por valor
            <input class="form-control" (ngModelChange)="calcularTotal()" [(ngModel)]="pedido_cargado.descuento" type="number">
            
        </div>
        <div class="modal-footer d-flex align-items-center">
            
            <p style="margin-bottom:0px">El descuento que aplicarás es de ${{pedido_cargado.descuento | number}}</p>
            <button class="btn btn-success" data-dismiss="modal">Listo</button>
        </div>
      </div>
    </div>
</div>
<!-- Modal de descuento CLOSE -->

<!-- Modal para eliminar -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog small-modal" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Estás seguro que deseas eliminar el pedido?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
              <button (click)="eliminarPedido(pedido_cargado)"  data-dismiss="modal" type="button" class="btn btn-primary">Eliminar</button>
            </div>
          </div>
        </div>
      </div>