.main-container{
    background-color: white;
    height: 100%;
    width: 100%;
    margin:0.5em;
    padding:0.7em;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:0.3em 0.4em 0.3em 1em;
        background-color: #234071;
        color: white;
        .titulo_nav{
            font-size: 20px;
            font-family: "roboto medium";
        }
        .btn-primary{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em 0.6em;
        }
        .material-icons{
            font-weight: 100;
        }
    }
    .pedido_container,.facturacion_container{
        text-align: center;
        h5,h6{
            margin:0.5em;
        }
    }
    .table{ 
        td:nth-child(2){
            text-align: left;
        }
        td, th {
            text-align: center;
            padding: 0.4em;
            font-size: 12px;
        }
    }

    .print_container{
        display: flex;
        justify-content:flex-end;

    }
    .form-control{
        font-size: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: none;

    }
    .calculador_container{
        display:flex;
        justify-content:space-between;
        align-items: center;
        ul{
            list-style: none;
            padding-left: 0px;
            text-align: right;
        }
    }
    .btn-pedir{
        margin:1em 0;
    }
}
.total{
    font-size: 23px;
    font-weight: bold;
}
.f-verde{
    color: #02C83E;
}

.number_input{
    width: 35px!important;
    border: none;
}
.number_input:focus{
   box-shadow: none;
   outline:0px!important;
}
@media (min-width: 576px){
    .small-modal{
        max-width: 450px;
    }
}