<section class="main-container container-fluid">
    <nav>
        <span class="titulo_nav">Detalle de pedido</span>
        <button class="btn btn-small btn-primary"> <i class="material-icons">add</i>Agregar Producto</button>
    </nav>
    <div class="pedido_container">
        <h6>Orden de la mesa 1</h6>
        <table class="table table-condensed">
            <thead class="thead-light">
                <tr>
                    <th>Cant.</th>
                    <th>Producto</th>
                    <th>Valor Unit.</th>
                    <th>Total</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="10px">2</td>
                    <td>Salchipapa Especial</td>
                    <td>15.000</td>
                    <td>15.000</td>
                    <td>
                        <button class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Salchipapa</td>
                    <td>15.000</td>
                    <td>15.000</td>
                    <td>
                        <button class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="10px">2</td>
                    <td>Salchipapa Especial</td>
                    <td>15.000</td>
                    <td>15.000</td>
                    <td>
                        <button class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Salchipapa</td>
                    <td>15.000</td>
                    <td>15.000</td>
                    <td>
                        <button class="btn btn-danger borrar_btn">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" placeholder="Ingresar comentario">
            </div>
        </div>

    </div>
    <!-- Fin de pedido -->
    <div class="facturacion_container">
            <h6>Datos de Facturación</h6>
        <div class="row">
            <div class="col-md-7">
                <input class="form-control" placeholder="Ingrese el cliente" type="text">
                <input class="form-control" placeholder="Ingrese el documento" type="text">
                <input class="form-control" placeholder="mesero" type="text">
                <input class="form-control" placeholder="tipo de pago" type="text">
                <button class="btn-pedir btn btn-small btn-warning">
                    <i class="material-icons">print</i>
                    Pedir
                </button>
                
            </div>
            <div class="col-md-5 calculador_container">
                <h4>Total $ 100.000</h4>
            </div>
        </div>
    </div>
</section>