.main-container{
    background-color: white;
    height: 100%;
    width: 100%;
    margin:0.5em 0.25em 0.5em 0.5em;
    padding:0.7em;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:0.3em 0.4em 0.3em 1em;
        background-color: #234071;
        color: white;
        .titulo_nav{
            font-size: 20px;
            font-family: "roboto medium";
        }
        .btn-primary{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em 0.6em;
        }
        .material-icons{
            font-weight: 100;
        }
    }
    .pedido_container,.facturacion_container{
        text-align: center;
        h5,h6{
            margin:0.5em;
        }
    }
    .table{ 
        // td:nth-child(3){
        //     text-align: left;
        // }
        td, th {
            text-align: center;
            padding: 0.4em;
            font-size: 12px;
        }
        .cant_td{
            display: flex;
            justify-content: center;
            align-items:center;
            h6{
                margin:0 0.5em;
            }
        }
    }

    .print_container{
        display: flex;
        justify-content:flex-end;

    }
    .form-control{
        font-size: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;

    }
    .calculador_container{
        display:flex;
        justify-content:space-between;
        align-items: center;
        ul{
            list-style: none;
            padding-left: 0px;
            text-align: right;
        }
    }

    // .btn-pedir{
    //     margin:1em 0;
    // }
}
.notas_rapidas{
    display: flex;
    justify-content: flex-start;
}
.notas_btns{
    font-size: 14px;
    margin:0.1em 0.2em;
    background-color: #a7a7a7;
}
.total{
    font-size: 23px;
    font-weight: bold;
}
.f-verde{
    color: #02C83E;
}

.number_input{
    width: 35px!important;
    border: none;
}
.number_input:focus{
   box-shadow: none;
   outline:0px!important;
}
@media (min-width: 576px){
    .small-modal{
        max-width: 450px;
    }
}
.mesa_numbers_detail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h6{
        text-align: left;
    }
}

.btns-container{
    display: flex;
    justify-content: flex-end;
    margin-top:0.5em;
    button{
        margin:0 0.2em;
        height: 35px;
    }

}
.btn-limpiar{
    display: flex;
    align-self: flex-start;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    line-height: 1.5;
    padding: 0.3em 1em;
}
.btns-1{
    justify-content: flex-start;
}
.sub-menu-pedir{
    top: 35px;
    left: 2px;
    position: absolute;
    background-color: #e69200;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.5em;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
#btn_pedir:hover +.sub-menu-pedir{
    display: flex;
}
.sub-menu-pedir:hover{
    display: flex;
    background-color: #d38600;
}
.btn-detalle-color{
    background-color: rgb(0, 110, 255);
    margin-right: 1em;
}
.btn-detalle-color:active,.btn-detalle-color:hover{
    background-color: rgb(7, 87, 192)!important;
    border-color: #1f3ab2!important;
}
.btn-detalle-color:focus{
    box-shadow: 0 0 0 0.2rem rgba(83, 121, 225, 0.5)!important;
}
