.aside_menu{
    top: 0;
    position: fixed;
    z-index: 2;
    background-color: #234071;
    width: 115px;
    height: 100%;
    box-shadow: 1px 0 1px 0 rgba(0,0,0,0.3);
    padding-top: 20px;
    text-align: center;
    .username{
        color: white;
        font-size: 12px;
    }

    .imagen_de_perfil{
        width: 80px;
        height: 80px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        background-image: url('../../../assets/img/profile_image.png');
        background-size: cover;
        background-position: center;
        margin:0 auto;
    }

    ul{
        width: 100%;
        padding: 0;
        list-style: none;
        color: white;
        text-align: center;
    }
    a{
        display: flex;
        flex-flow: column;
        color: white;
        text-decoration: none;
        margin:1.5em auto;
        font-size: 12px;
        
        .material-icons{
            font-size:50px;
        }
    }
}