/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0; background-color: #EFEFEF}
.btn{border-radius:0px!important;}
.modal-content {
    border:none;
    border-radius: 0rem;
}
// ajustando generalmente los modals
.modal-header{
    color: white;
    background-color: #234071;
    border-radius: 0;
    font-family: roboto;
    padding: 0.5rem 1rem;
}
.close{
    color: white;
    opacity: 1;
}
.close:hover{
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: roboto;
}
.btn-danger{
    background-color: red;
    font-weight: 400;
    color: white;
    border: 0;
    padding: .1rem .35rem 0 .35rem;
    font-size: 4px;
    line-height: 1.5;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    border-radius: .25rem;
    .material-icons{
        font-size:18px;
        font-weight: bold;
    }
}
.btn-warning{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFA200;
    font-weight: 400;
    color: white;
    border: 0;
    padding: 0.3em 1em;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    border-radius: .25rem;
    margin-right:10px;
}
.btn-warning:hover{
    color: white;
}
.btn-primary{
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    line-height: 1.5;
    padding: 0.3em 1em;
}
.btn-success{
    background-color: #02C83E;
    padding: 0.3em 1em;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    border:0px;
}
// iconos de mas y menos en numeros
.icons-numbers{font-size: 16px;cursor: pointer; user-select: none; }
.icons-numbers:hover{transition: all ease 0.2s}
.menos{color: red;}
.menos:hover{color: rgb(218, 0, 0);}
.mas{color: rgb(8, 182, 8)}
.mas:hover{color: rgb(7, 156, 7)}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 90%;
    }
}
